{% extends "base.html" %}

{% block title %}Padovan numbers{% endblock %}

{% block body %}
<div class="alert alert-success" role="alert">
    <h4>Padovan numbers</h4>
    <form action="/show" method="post">
        <label for="numbers" class="form-label">Enter the number of sequence elements</label>
        <hr>
        <input type="int" class="form-control" id="numbers" name="numbers" placeholder="for example write 7">
    </form>
    <div>
        <p>
            {{ warning }}
        </p>
    </div>

    <ul>
        {% for number in numbers%}
            <li>{{ loop.index0 }} — {{ number }}</li>
        {% endfor %}
    </ul>
    {% endblock %} 
</div>